.social-links{
    display: flex;
    flex-direction: row-reverse;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-bottom: 2rem;
  }
  footer p{
    text-align: center;
    background-color: #3d4a59;
    color: #FFF;
    padding: 20px 0;
    border-top-left-radius: 2rem ;
    border-top-right-radius: 2rem ;
  }
  